# uvcgan/scripts/translate_images.py: 9
# uvcgan/uvcgan/data/datasets/cyclegan_v2.py: 1
Pillow

# uvcgan/examples/predict.py: 9
matplotlib

# uvcgan/examples/predict.py: 8
# uvcgan/scripts/translate_images.py: 8
# uvcgan/uvcgan/data/datasets/celeba.py: 2
# uvcgan/uvcgan/data/datasets/cyclegan.py: 2
# uvcgan/uvcgan/models/generator/vit.py: 4
# uvcgan/uvcgan/torch/funcs.py: 4
numpy

# uvcgan/uvcgan/data/datasets/celeba.py: 3
# uvcgan/uvcgan/train/callbacks/history.py: 2
pandas

# uvcgan/setup.py: 3
setuptools

# uvcgan/examples/predict.py: 6,7
# uvcgan/uvcgan/base/schedulers.py: 6
# uvcgan/uvcgan/base/weight_init.py: 7
# uvcgan/uvcgan/cgan/model_base.py: 8
# uvcgan/uvcgan/data/datasets/celeba.py: 5
# uvcgan/uvcgan/data/datasets/cyclegan.py: 4
# uvcgan/uvcgan/data/utils.py: 1
torch

# uvcgan/examples/predict.py: 10
# uvcgan/uvcgan/data/data.py: 4
# uvcgan/uvcgan/data/datasets/cyclegan.py: 5
# uvcgan/uvcgan/data/datasets/funcs.py: 1
# uvcgan/uvcgan/data/transforms.py: 1,2
torchvision

# uvcgan/scripts/translate_images.py: 7
# uvcgan/uvcgan/train/train.py: 2
tqdm
